#blogs_container{
    /* width:100%; */
    background:none;
}


.blogs_container{
    background:linear-gradient(to bottom  , #3A2773,#0B0226);

}
#blogs_container4{
    background:none;
}

