.home{
    /* border:1px solid black; */
    padding:0px;
    margin:0px;
    margin-top:-20px;
    overflow-y:hidden;
    overflow-x:hidden;
    box-sizing: border-box;
    position: relative;
    
}

*{
    -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

