.footer{
    /* padding-bottom:40px; */
}
.some{
    background:linear-gradient(to bottom  , #3A2773,#2b1b5b);
    padding-top:40px;
    width:100%;
}

.line{
    height:0.8px;
    width:100%;
    background-color: #647eba;
}
.footer_content{
    display:flex;
    padding:40px;
    justify-content: space-evenly;
    background:linear-gradient(to bottom  , #2b1b5b,#0B0226);

}

.social_media{
    display:flex;
    gap:20px;
    flex-direction:column;
    /* justify-content:center; */
    /* padding-top:20px; */
}

.social_media_icons{
    display:flex;
    gap:15px;
    /* justify-content:center; */
    /* padding-top:20px; */
}

.social_media_icon{
    height:20px;
}

.social_media_heading{
    font-size:20px;
    color:#D6E2FF;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    /* padding:10px 0px; */
    margin:0px;
}

.footer_link_container{
    display:flex;
    flex-direction: column;
}

.footer_links{
    padding-top:20px;
    display:flex;
    flex-direction:column;
}
.footer_link{
    font-size:12px;
    color:#D6E2FF;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    /* padding:10px 0px; */
    margin:0px;
    margin-top:10px;
    
}

.footer_link1{
    font-size:14px;
    color:#D6E2FF;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    /* padding:10px 0px; */
    margin:0px;
    margin-top:20px;
    line-height:20px;
    
}
.footer_thanks{
    max-width:40%;
}

.footer_photo{
    display:flex;
    flex-direction:column;
    gap:10px;
    /* padding-top:20px; */
    align-items: center;
    justify-content: center;
}

.footer_photo_image{
    height:150px;
    width:auto;
}
.footer_photo_text{
    font-size:17px;
    color:#D6E2FF;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    /* padding:10px 0px; */
    margin:0px;
    margin-top:20px;
    line-height:20px;
    margin-top:5px;
}

.footer_bottom{
    background:linear-gradient(to bottom  , #0B0226,#0B0226);

    display:flex;
    justify-content: center;
    padding-bottom:20px;
}

.footer_bottom_text{
    font-size:12px;
    color:#D6E2FF;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    /* padding:10px 0px; */
    margin:0px;
    margin-top:20px;
    line-height:20px;
}


@media screen and (max-width:800px){
    .footer_content{
        flex-direction:column;
        padding:20px;
    }
    .footer_photo{
        max-width:100%;
    }
    .footer_photo_text{
        font-size:15px;
    }
    .footer_links{
        padding-top:10px;
    }
    .footer_link{
        font-size:10px;
    }
    .footer_link1{
        font-size:12px;
    }
    .footer_photo_text{
        font-size:15px;
    }
    .footer_bottom_text{
        font-size:10px;
    }
    .social_media{
        padding-top:20px;
    }
    .social_media_heading{
        font-size:15px;
    }
    .footer_link_container{
        padding-top:30px;
    }
    .social_media_icon{
        height:15px;
    }
    .footer_thanks{
        padding-top:30px;
        max-width:100%;
    }
    .footer_photo{
        padding-top:30px;
    }
    .footer_photo_image{
        height:100px;
    }
    .footer_bottom{
        padding-bottom:15px;
        /* border:1px solid white; */
        bottom:0px;
    }
}